/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

/* Header */
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #2E7D32;
    padding: 10px 20px;
}

header picture {
    display: flex;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

header ul li {
    margin: 0 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Sección Inicio */
.section-inicio {
    background: url('./public/images/mural-1.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #004d40; /* Verde oscuro */
}

.hero h1 {
    font-size: 3rem;
    color: #a5d6a7; /* Verde claro */
}

/* Sección Sobre Mí */
.section-sobremi, .section-contacto {
    padding: 40px;
    text-align: center;
    background-color: #f1f8e9; /* Fondo verde suave */
    color: #2E7D32;
}

/* Sección Proyectos */
#proyectos {
    padding: 40px;
    background-color: #e8f5e9;
    text-align: center;
}

#proyectos h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #2E7D32;
}

/* Galería Horizontal para Proyectos */
.horizontal-gallery {
    display: flex;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    gap: 15px;
    padding: 20px;
}

.horizontal-gallery img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.horizontal-gallery img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Estilos para la barra de desplazamiento (scroll) */
.horizontal-gallery::-webkit-scrollbar {
    height: 10px;
}

.horizontal-gallery::-webkit-scrollbar-thumb {
    background-color: #2E7D32;
    border-radius: 10px;
}

/* Sección Blog */
#blog {
    padding: 40px;
    background-color: #e8f5e9;
}

#blog h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #2E7D32;
}

#blog p {
    margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: #2E7D32;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer a img {
    width: 30px;
    margin: 0 10px;
}

/* Logo */
.logo {
    width: 150px;
    height: auto;
}
